# Python cache and virtual environments
__pycache__/
venv/
.venv/

# IDE and OS specific files
.idea/
.vscode/
*.DS_Store

# Data and database files that can be regenerated
# We do NOT want to upload these large folders to GitHub
/data/*
/vectorstore/*
